[submodule "ember-information-technology-environment"]
	path = ember-information-technology-environment
	url = git://github.com/ethus3h/ember-information-technology-environment
[submodule "ember-library"]
	path = ember-library
	url = git://github.com/ethus3h/ember-library
[submodule "ember-web-site"]
	path = ember-web-site
	url = git://github.com/ethus3h/ember-web-site
